.Chat {
    display: flex;
    margin-right: 10px;
    position: relative;
}

.Chats__unread-count {
    display: flex;
    align-items: center;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    text-align: center;
    background: #476CFF;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    height: 15px;
    line-height: 12px;
}

.Chat-message__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 10px;
}

.Chat:hover {
    border-radius: 100px;
    background: #efefef;
}

.Chat_active {
    border-radius: 100px;
    background: #476CFF;
}

.Chat__title {
    margin: 10px 0 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Chat__message {
    color: #696969;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Chat_active .Chat__title {
    color: #fff;
}

.Chat_active .Chat__message {
    color: #fff;
}

.Chat_active:hover {
    background: #476CFF;
}

.Chat__avatar {
    width: 75px;
    height: 75px;
    align-self: center;
    margin-right: 15px;
    border-radius: 50%;
}

.Chat__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}