.btn {
    padding: 12px 70px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    border-radius: 30px;
    background: #3369F3;
}