.Auth__container {
    padding: 50px 30px 30px;
    max-width: 341px;
    width: 100%;
    background: #FFF;
    box-shadow: 5px 5px 6px 0 rgb(0 0 0 / 14%);
    border-radius: 30px;
}

.Auth-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Auth-form__title {
    margin-bottom: 40px;
    color: #1E1E1E;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.Auth-form__btn {
    margin-top: 159px;
}

.Auth-form__btn:hover {
    transform: scale(1.01);
}

.Auth__registration-link {
    margin-top: 14px;
    text-align: center;
    color: #3369F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
}

.Auth__registration-link:hover {
    transform: scale(1.03);
    text-decoration: underline;
}