.Chat-messages {
    width: 100%;
    height: calc(100% - 150px);
    padding: 0 30px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.Chat-messages::-webkit-scrollbar {
    width: 7px;
}