.Chat-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: calc(100% - 150px);
    padding: 10px 30px 0;
    box-sizing: border-box;
    overflow-y: scroll;
}

.Chat-messages::-webkit-scrollbar {
    width: 7px;
}