.Auth-input__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    color: #999;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 9px;
}

.Auth-input__label:last-of-type {
    margin-bottom: 0;
}

.Auth-input__label-text {
    margin-bottom: 7px;
}

.Auth-input__error {
    color: red;
    margin-bottom: 0;
}

.Auth-input {
    padding: 0 0 7px;
    border-bottom: 1px solid #999;
    color: #1E1E1E;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px; /* 92.857% */
}

.Auth-input:hover {
    border-bottom: 1px solid #3369F3;
}

.Auth-input:focus {
    border-bottom: 1px solid #3369F3;
}