body {
    font-family: Inter, sans-serif;
    box-sizing: content-box;
}

input {
    outline: none;
    border: none;
}

button {
    border: none;
    background: none;
}

a {
    text-decoration: none;
}

.Auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(135deg, rgba(78, 200, 90, 0.00) 0%, #4EC85A 0.01%, #8FB4FB 99.99%, #72A2FF 100%);
    background-size: cover;
}