.Message {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.Message__text {
    max-width: 350px;
    height: fit-content;
    padding: 10px 20px;
    overflow: hidden;
    word-wrap: break-word;
    margin: 0;
    border-radius: 10px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Message__avatar {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    align-self: flex-start;
}

.Message--incoming .Message__text {
    background: #696969;
}

.Message--sent .Message__text {
    background: #476CFF;
}

.Message--incoming {
    float: left;
}

.Message--sent {
    float: right;
    flex-direction: row-reverse;
}

.Message__login {
    margin: 0 0 5px;
}

.Message--sent .Message__login {
    text-align: right;
}